@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Cute Font', cursive;
  font-size: 1.5rem;
  transition: all 350ms ease-in-out;
}

#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 150px 1fr 150px;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  width: 100%;
}

.logo {
  position: relative;
  margin: 25px;
  display: grid;
  grid-template-columns: 80px 1fr;
  flex-shrink: 0;
}

.logo * {
  display: inline;
}

#icon {
  transform: scale(0.5);
}

#iconContainer {
  width: 70px;
  height: 70px;
  background-color: lightsalmon;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  align-self: center;
}

#info {
  position: relative;
  top: 5px;
}

#info:hover img {
  opacity: 0.5;
}

#info::after {
  position: absolute;
  /* width: fit-content; */
  height: 1rem;
  top: -2rem;
  left: -4.5rem;
  content: 'Dont click the same Dino twice!';
  padding: 5px;
  border: solid 1px black;
  border-radius: 10px 5px 10px 0px;
  font-size: 1rem;
  white-space: nowrap;
  opacity: 0;
  transition: all 350ms ease-in-out;
}

#info:hover::after {  
  opacity: 1;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}

.score * {
  margin: 0;
}

/* BODY */

.body {
  display: flex;
  justify-self: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  transition: all 350ms ease;
}

.body:active {
  opacity: 0;
}

.winScreen, .gameOverScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  position: relative;
  z-index: 1;
  transition: all 350ms ease;
}

.body.fadeout {
  opacity: 0;
}

.card img {
  z-index: 1;
}

.card::before {
  content: '';
  position: absolute;
  /* top: 15px;
  left: 15px; */
  width: 125px;
  height: 125px;
  background-color: lightsalmon;
  border-radius: 50%;
  opacity: 0.5;
  z-index: -1;
  opacity: 0;
  transition: all 350ms;
}

.card:hover::before {
  opacity: 0.5;
}

.card:active::before {
  content: '';
  position: absolute;
  /* top: 15px;
  left: 15px; */
  width: 125px;
  height: 125px;
  background-color: black;
  border-radius: 50%;
  opacity: 0.5;
  z-index: -1;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-around;
}

.footer * {
  font-size: 1rem;
}

